<% if user_signed_in? %>
<%# コメント機能 %>
  <h5>コメント一覧</h5>
  <div id="comments_area">
    <%= render 'comments/index', comments: @comments %>
  </div>
    <%= render 'comments/form', {item: @item, comment: @comment} %>

<% end %>
