<div class="container">
  <% if comment.errors.any? %>
  <ul>
    <% comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

  <%= form_with model: [item, comment] do |f| %>

    <div class="">
      <%= f.text_area :content %>
    </div>

    <div class="">
      <%= f.submit %>
    </div>

  <% end %>
</div>
