<div class="container">
  <% comments.each do |comment| %>
    <% unless comment.id.nil? %>
      <p><%= simple_format comment.content %></p>
      <p>
        <%=link_to "投稿者：#{comment.user.user_name}", user_path(comment.user.id) %>
      </p>
      <p>
        <%= link_to '削除', item_comment_path(comment.item.id, comment.id), method: :delete if current_user.id == comment.user_id %>
      </p>
    <% end %>
  <% end %>
</div>
