<% if @users.empty? %>
  <div class="container">
    <h4><%= @user.user_name %>さんがフォローしているユーザーはいません</h4>
  </div>
<% else %>
  <div class="container">
    <h4><%= @user.user_name %>さんがフォローしているユーザー</h4>
  </div>
<% end %>

  <%# フォローしているユーザーが存在すれば以下を実行 %>
  <%= render 'relationships/following_list', users: @users %>
