<div class="">
  <%= image_tag user.user_icon.user_thumb %>
</div>
<div class="">
  名前<br>
  <%= user.user_name %>
</div>

<div class="">
  <%# フォローボタン %>
  <%= render 'relationships/switch', user: @user %>
</div>
