<%#商品詳細画面 %>
<div class="container">
  <%= render 'items/params', item: @item %>

<%# お気に入りボタン %>
  <%= render 'favorites/switch' %>

<%# 購入申請ボタン %>
  <%= render 'items/buy_request' %>

<%# コメント機能 %>
  <%= render 'comments/comment_area' %>

</div>
