<div class="jumbotron">
  <div class="row">
    <h1 id="top_app_name">アグリマ</h1>
  </div>
</div>

<section class="text-center">
  <div class="jumbotron banner">
    <h1>農産物のフリーマーケット</h1>
    <div class="top-font-size">
      畑から家庭菜園まで<br>
        あなたが収穫した農産物を出品できます
    </div>
    <br>
    <br>
    <%= link_to "サインイン", new_user_registration_path, class: "btn btn-success btn-lg" %>
  </div>
</section>
