    <div class="jumbotron">
      <div class="row">
        <h1>Agriculture Market</h1>
      </div>
    </div>

<section class="text-center">
  <div class="jumbotron">
    <div class="row">
      <h1>Agriculture Market</h1>
    </div>
  </div>
</section>
