<div class="jumbotron" id="margin-bottom-0">
  <div class="row">
    <h1 id="top_app_name">アグリマ</h1>
  </div>
</div>

<section class="text-center">
  <div class="jumbotron banner">
    <h1>農産物のフリーマーケット</h1>
    <div class="top-font-size">
      畑から家庭菜園まで<br>
        あなたが収穫した農産物を出品できます
    </div>
    <br>
    <br>
    <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-success btn-lg" %>
  </div>
</section>

<section class="discription">
  <div class="container">
    <h2 class="text-center">
      購入方法
    </h2>

    <ul class="row">
      <li class="col-md-4">
        <h3>1.好きな商品を<br>クリック</h3>
        <!-- <%= image_tag 'top_index', class: "discription-image-size" %> -->
      </li>
      <li class="col-md-4">
        <h3>2.購入申請を<br>クリック</h3>
      </li>
      <li class="col-md-4">
        <h3>3.チャットで<br>出品者と取引</h3>
      </li>
    </ul>
  </div>
</section>

<section class="discription">
  <div class="container">
    <h2 class="text-center">
      出品方法
    </h2>

    <ul class="row">
      <li class="col-md-6">
        <h3 class="text-center">1.マイページから<br>生産者情報を登録</h3>
      </li>
      <li class="col-md-6">
        <h3 class="text-center">2.新規出品ボタンから出品</h3>
      </li>
    </ul>
    <ul class="row">
      <li class="col-md-6">
        <h3 class="text-center">3.購入申請が<br>来るのを待ちます</h3>
      </li>
      <li class="col-md-6">
        <h3 class="text-center">4.チャットで<br>購入希望者と取引</h3>
      </li>
    </ul>
  </div>
</section>
